body {
    font-family: 'RocknRoll One', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 40px;
  
}

.name-highlight {
    color: orange;
    
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}

.half-width img {
    width: 100%;
}

.top-banner {
    background-image: url(images/top-banner.png);
}

section {
    height: 600px;
    background-repeat: no-repeat;
}