body {
    font-family: 'RocknRoll One', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 40px;
  
}

.name-highlight {
    color: orange;
    
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}

.half-width img {
    width: 100%;
    margin-top: 10px;
}

.top-banner {
   
    background-image: url(images/top-banner.png);
}

section {
    height: 600px;
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 2px 20px 2px 20px;
    border-radius: 5px; 
    
}
.dream-area {
    background-image: url(images/dream-bg.png);
    background-position: right;
    
}

.shadow-area {
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 60%;
   
}

.exprience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stock {
    border-left: 7px solid tomato;
}

#side-stock {
    border-left: 7px solid darkblue;
}

footer {
    box-shadow: 10px 10px 10px orangered;
    color: orangered;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}